.app {
  display: flex;
  flex-direction: column;
}
.navBar {
  display: flex;
  border: 5px solid red;
  width: 100%;
  justify-content: center;
}

.navBar ul {
  display: flex;
  width: 100%;
  list-style: none;
}
.nav-items {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
}
.navBar a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}
.Main {
  display: flex;
  border: 4px solid blue;
}
.card {
  display: flex;
  flex-direction: column;
}
